{% extends "base.html" %}

{% block title_block %}Edit Book{% endblock %}

{% block main_block %}
<div class="container">
    <h2>Edit Book</h2>
    <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ book.title }}" required>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Discription</label>
            <input type="text" class="form-control" id="author" name="author" value="{{ book.author }}" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Rating</label>
            <input type="number" step="0.01" class="form-control" id="price" name="price" value="{{ book.price }}" required>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Change Image (optional)</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Update Movie</button>
    </form>
</div>
{% endblock %}
